<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleDisplayName</key>
    <string>Warren</string>
    <key>CFBundleExecutable</key>
    <string>Warren</string>
    <key>CFBundleIdentifier</key>
    <string>com.abcdlsj.warren</string>
    <key>CFBundleIconFile</key>
    <string>Warren</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>Warren</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.12.2</string>
	<key>CFBundleVersion</key>
	<string>28</string>
    <key>WarrenBuildVersion</key>
    <string>development</string>
    <key>WarrenBuildRevision</key>
    <string>unknown</string>
    <key>WarrenBuildDirty</key>
    <false/>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>com.abcdlsj.warren.terminal</string>
            <key>CFBundleURLSchemes</key>
            <array>
                <string>warren</string>
            </array>
        </dict>
    </array>
    <key>LSApplicationCategoryType</key>
    <string>public.app-category.developer-tools</string>
    <key>LSMinimumSystemVersion</key>
    <string>13.0</string>
    <key>NSHighResolutionCapable</key>
    <true/>
    <key>NSSupportsAutomaticGraphicsSwitching</key>
    <true/>
</dict>
</plist>
